APP_NAME=Hades
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

APP_LOCALE=sk
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=sk_SK

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mariadb
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=hades
DB_USERNAME=hades
DB_PASSWORD=hades

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hades@localhost"
MAIL_FROM_NAME="${APP_NAME}"

REVERB_APP_ID=733407
REVERB_APP_KEY=r4cu0kxoi1bbwgbqxizc
REVERB_APP_SECRET=cbhjkeiadbvn8hykawrq
REVERB_HOST=reverb
REVERB_PORT=8081
REVERB_SCHEME=http
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8081

HADES_PUBLIC_WS_HOST=localhost
HADES_PUBLIC_WS_PORT=8081

ANTHROPIC_API_KEY=
HADES_CHAT_MODEL=claude-sonnet-5
